:root {
/*---------
   COLORS
----------*/
    --first-color: #fff;
    --second-color: #1c1c1c;
    --third-color: #0282f9;
    --fourth-color: #303030;
/*------------
   CONTAINER
-------------*/
    --container-lg: 80rem;
    --container-ms: 75rem;
};